<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Areas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</head>
<!-- asd-->
<body class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <a class="navbar-brand" th:href="@{/proyectos/listar}">Proyectos</a>
        <a class="navbar-brand" th:href="@{/usuario/list}">Usuarios</a>
        <a class="navbar-brand" th:href="@{/areas/listar}">Areas</a>
    </div>
</nav>
<h2>Lista de Areas</h2>
<a class="btn btn-primary mt-4 mb-4" href="/areas/nuevaArea">Nueva Área</a>
<div th:if="${msg != null}" class="alert alert-success" th:text="${msg}"></div>

<table class="table table-sm">
    <tr>
        <th>#</th>
        <th>Nombre del área</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="areas, e : ${lista}">
        <td th:text="${e.index + 1}"></td>
        <td th:text="${areas.nombrearea}"></td>
        <td><a class="btn btn-info" th:href="@{'/areas/edit?id=' + ${areas.idarea}}">Editar</a></td>
        <td><a class="btn btn-danger" th:href="@{'/areas/delete?id=' + ${areas.idarea}}">Borrar</a>
        </td>
    </tr>

</table>
</body>
</html>

